#logo{
  height:80px;
  background-color:white;
}
#logopic{
  margin-right:-100px;
}

#headertext{
    font-size: 50px;
    vertical-align: middle;
    color: maroon;
    font-variant: normal;
}

#bodyback{
  background-color:gray;
}

body{
  background-image: url("../background.jpg");
  background-repeat: repeat;
}

#artsec{
  background-color:white;
  height:225px;
  margin-top:10px;
  margin-left:0px;
}

#ads{
  background-color:white;
  margin-top:30px;
  margin-left:10px;
}
#tpic{
  margin-top:15px;
  margin-right:15px;
}
#date{
  font-size:12px;
}

#textbackground{
  background-color:white;
  margin-bottom:50px;
}

#textpara{
  padding-left:100px;
  padding-right:100px;
}
footer{
  margin-top:30px;
}

#aone{
  margin-top:15px;
  width:100%;
  border-bottom-color:gray;
  border-bottom-width:3px;
  border-bottom-style:groove;
}

#imgLarge{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}
